<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ATM_useMVC.Properties.Settings.BankConnectionString"
            connectionString="Data Source=COONGANK\SQLEXPRESS;Initial Catalog=Bank;Persist Security Info=True;User ID=sa;Password=Lenhotiep123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ATM_useMVC.Properties.Settings.bankdbConnectionString"
            connectionString="Data Source=COCONUTKMT\SQLEXPRESS;Initial Catalog=bankdb;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ATM_useMVC.Properties.Settings.BankConnectionString1"
            connectionString="Data Source=DESKTOP-CF16LDF\SQLEXPRESS;Initial Catalog=Bank;Persist Security Info=True;User ID=sa;Password=Lenhotiep123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>